{%- liquid
  if request.page_type == 'index'
    assign links_to_render = linklists['main-menu'].links
  else
    assign links_to_render = linklists['hombres-sobre-nosotros'].links
  endif
-%}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in links_to_render -%}
      <li>
        <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
          <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
        </a>
      </li>
    {%- endfor -%}
  </ul>
</nav>