<div class="vela-payment-icons">
  <img src="https://trust.conversionbear.com/../static/badges/visa_1_color_card.svg" alt="Visa" height="28">
  <img src="https://trust.conversionbear.com/../static/badges/mastercard_color_card.svg" alt="Mastercard" height="28">
  <img src="https://trust.conversionbear.com/../static/badges/applepay2_color_card.svg" alt="Apple Pay" height="28">
  <img src="https://trust.conversionbear.com/../static/badges/googlepay_color_card.svg" alt="Google Pay" height="28">
  <img src="https://trust.conversionbear.com/../static/badges/paypal_color_card.svg" alt="PayPal" height="28">
</div>