<div class="vela-payment-icons" style="text-align: center; width: 100%;">
  <div style="display: flex; justify-content: center; flex-wrap: wrap; gap: 8px;">
    <img src="https://trust.conversionbear.com/static/badges/visa_1_color_card.svg" alt="Visa" height="28">
    <img src="https://trust.conversionbear.com/static/badges/mastercard_color_card.svg" alt="Mastercard" height="28">
    <img src="https://trust.conversionbear.com/static/badges/americanexpress_1_color_card.svg" alt="American Express" height="28">
    <img src="https://trust.conversionbear.com/static/badges/applepay2_color_card.svg" alt="Apple Pay" height="28">
    <img src="https://trust.conversionbear.com/static/badges/googlepay_color_card.svg" alt="Google Pay" height="28">
    <img src="https://trust.conversionbear.com/static/badges/maestro_color_card.svg" alt="Maestro" height="28">
    <img src="https://trust.conversionbear.com/static/badges/shoppay_color_card.svg" alt="Shop Pay" height="28">
    <img src="https://trust.conversionbear.com/static/badges/unionpay_color_card.svg" alt="UnionPay" height="28">
  </div>
</div>