<div class="vela-payment-icons">
  <span class="vela-payment-icons__label">Pago seguro garantizado</span>
  <div class="vela-payment-icons__list">
    {{ shop.enabled_payment_types | payment_type_svg_tag: scale: 1.5 }}
  </div>
</div>